/********************************************
            ESTILOS GENERALES
*******************************************/
*{
    box-sizing: border-box;
}

/********************************************
            CONTENEDOR SUPERIOR
*******************************************/
/* contenedor general superior  */
.contenedor-sup{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

/* contenedor del input y boton buscar */
.cont-sup{
    display: flex;
}

/*************************************************
        ESTILOS INPUT y BOT-BUSCAR PRODUCTOS
***********************************************/
/* ordenar */
.ord-produ{
    margin-left: 35px;
    background: rgb(90, 89, 89);
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
}

/* input buscar producto */
.busc-pro{
    padding: 5px;
    width: 30vw;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 3px 0 0 3px;
}

/* boton buscar */
.btn-light{
    color: rgb(105, 105, 105);
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 0 3px 3px 0;
}

/********************************************
        ESTILOS BOT NUEVO PRODUCTO
*******************************************/
/* estilos del boton */
.bot-nvo-pro{
    margin-right: 35px;
    background: rgb(90, 89, 89);
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
}

/********************************************
            ESTILOS LA TABLA
*******************************************/
/* estilos de cada fila */
.relleno{ 
    min-height: 65px;
} 

.relleno:nth-child(1){
    min-height: 55px;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    background: rgb(90, 90, 90)!important;
    border-radius: 10px 10px 0 0;
    text-align: left;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1px;
}

/* estilos de botones cancelar-editar-borrar */
.botones{
    display: flex;
    justify-content: flex-end;
    margin-top: 14px;
}

/* margen que separa los 3 botones */
.btn-rig{
    margin-right: 10px;
}

/* columna th */
.relleno > .row-style{
    margin-top: 12px;
}

/* columnas td */
.relleno > .row-style-2{
    margin-top: 15px;
}

/* alineación de columnas */
.relleno > div:nth-child(3){
    text-align: center;
}

.relleno > div:nth-child(4){
    text-align: center;
}

.relleno > div:nth-child(5){
    text-align: center;
}
    
/* colores intercalados por filas */
.row:nth-child(odd){
    background-color:#f2f2f2;
}

/********************************************
        ESTILOS del MODAL de BOTONES
*******************************************/
/* modal-body */
.body-botones{
    display: flex;
    justify-content: space-around;
}

/* texto de cabecera del modal */
#edi-det-bo{
    color: rgb(98, 98, 98);
}

/********************************************
    ESTILOS del MODAL de NUEVO PRODUCTO
*******************************************/
/* texto de cabecera del modal */
#modal-produ{
    color: rgb(98, 98, 98);
}

/* display para los 3 botones principales */
.btn-group{
    display: flex;
}
/********************************************
            ESTILOS MEDIA QUERY
*******************************************/
@media screen and (min-width: 1200px){
	.oculto{
        display: none !important;
    }
}


@media screen and (max-width: 1200px){
	.visible{
        display: none !important;
    }
}

@media screen and (max-width: 1154px){
	.botones{
        margin-top: 24px;
    }
}

@media screen and (max-width: 771px){
	*{
        text-align: center;
    }

    .row{
        padding: 1em;
    }
}