
/******************************
        ESTILOS GENERALES
******************************/
*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

ul li{
  list-style-type: none;
}

.padding-lateral{
	padding-right: 2em;
	padding-left: 2em;
}

/******************************************
          ESTILOS DE HEADER GENERAL
****************************************/
header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  background: #fff;
  box-shadow: 0 1px 5px 1px rgb(190, 190, 190);
}

/******************************************
        ESTILOS HEADER LEFT
****************************************/
/* contenedor izquierdo */
.cont-left{
  display: flex;
}

/* LOGO AWESOME */
.sup-left{
  justify-content: left;
  margin-left: 0;
  margin-top: 8px;
}

.logo{
  margin-left: 0;
  color: #4C4C4C;
  font-size: 2em;
  font-weight: lighter;
  letter-spacing: 1px;
}

dl, ol, ul {
  margin-top: 0;
  margin-left: 0;
  padding: 0;
  margin-bottom: 1rem;
}

.logo:hover{
  color: #4C4C4C;
}

/* BOTON RESPONSIVE */
#bot-res{
  justify-content: left;
  background: transparent;
  border: 1px solid rgb(185, 184, 184);
  border-radius: 10px;
  padding: 0 0.8em;
  margin: 10px;
}

/******************************************
        ESTILOS HEADER NAV-CENTRO
****************************************/
.navegacion{
  display: flex;
  margin: 12px 100px 0 100px;
}

/* BOTON BUSCAR */
.btn, .btn-secondary{
  padding: 10px;
  background: #7a7a7a;
  color: #fff;
  font-weight: bold;
  font-size: 1.2;
  letter-spacing: 1px;
  border: 1px solid  #cacaca;
  border-radius: 10px 0 0 10px;
} 

/* ENTRADA DE TEXTO */
input[type="text"]{
  padding: 10px;

  width: 400px;
  border: 1px solid #cacaca;
  border-radius: 0 10px 10px 0;
  transition: all 1s Ease-in-out;
}

input[type="text"]:hover{
  width: 550px;
  border: 1px solid #cacaca;
}

/******************************************
        ESTILOS HEADER SUP-DERECHA
****************************************/
.sup-right{
  display: flex;
  font-weight: bold;
  margin-top: 10px;
}

.sup-right > a{
  display: block;
  margin: 10px;
  width: 90px;
  color: #7a7a7a;
}

/*******************************************************************
        SECCIÓN FRANQUICIADOS ESTRUCTURA DE COLUMNAS
*****************************************************************/
.contenedorColumnas{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.contenedorColumnas{
  justify-content: space-around;
}

.Columna{
  flex-basis: 20%; /*eb otras zonas variamos la anchura de las columnas*/
  
}

/******************************************
          SECCIÓN FRANQUICIADOS
****************************************/
.franquiciados{
	margin-top: 2em;
}

.franquiciados .ContendorColumnas{
	margin-bottom: 6em;
}

.franquiciados .Columna img{
	width: 80%; /*la imagen ocupa el 100% de la columna*/
  border: solid 1px rgba(49, 50, 58, 0.2);
  transition: all 1s;
}

.franquiciados .Columna img:hover{
  transform: scale(1.1);
  box-shadow: 0 1px 10px 2px rgb(200, 200, 200);
}

.franquiciados  .Columna figure{
	margin-bottom: 1em;
}

.franquiciados  .Columna p{
  width: 80%; 
  color: rgb(139, 139, 139);
  font-weight: 600;
	line-height: 1.4em;
}

.franquiciados  h1{
	font-family: 'open_sansbold', arial, sans-serif;
}

.franquiciados  h1, section h1+p{
	text-align: center;
	line-height: 1.3em;
}

.franquiciados  h1+p{
	margin-bottom: 1em;
	color: #969696;
	font-size: 1.5em;
}

.franquiciados  h2{
	margin: 1em 0 0.5em 0;
}

.franquiciados  h2 a{
	color: #4C4C4C;
}

.franquiciados  h2 a:hover{
	color: #898989;
}

.franquiciados  time{
	color: #C6C6C6;
	font-weight: bold;
	font-size: 1.1em;
}

.franquiciados  time::before{
	content: url('../img/icono-fecha.svg');
	margin-right: 0.8em;
	vertical-align: middle;
}

