<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">


<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/styleIndex.css" rel="stylesheet">
    <link href="sass/style.css" rel="stylesheet">

    <title>Awesome</title>
</head>
<body>
<header class="menu1">
    <div id="header-position">
        <form class="formulariodemo cf">
            <input placeholder="Buscar en Awesome..." type="text">
            <button type="submit">Buscar</button>
        </form>
    </div>
    <div class="menu">
    </div>
    <span class="boton-responsive">
            &equiv;
        <!-- pone las lineas para el menu -->
        </span>
</header>

<main>
    <div id="botones-descuentos">
        <div class="bot-descuentos">
            <button class="button">
                Ofertas
                <div class="button__horizontal"></div>
                <div class="button__vertical"></div>
            </button>
        </div>
        <div class="bot-descuentos">
            <button class="button">
                Configurador
                <div class="button__horizontal"></div>
                <div class="button__vertical"></div>
            </button>
        </div>
        <div class="bot-descuentos">
            <button class="button">
                Promociones
                <div class="button__horizontal"></div>
                <div class="button__vertical"></div>
            </button>
        </div>
        <div class="bot-descuentos">
            <button class="button">
                Outlet
                <div class="button__horizontal"></div>
                <div class="button__vertical"></div>
            </button>
        </div>
    </div>
</main>

                   <div class="Columna">
                        <figure>
                            <img src="img/img-08.jpg" alt="Inauguración local">
                        </figure>
                         
                        <p>
                            Newskill Kitsune Silla Gaming 
                       </p>
                   </div>

                   <div class="Columna">
                        <figure>
                            <img src="img/img-09.jpg" alt="Inauguración local">
                        </figure>
                        <p>
                            HP OMEN 15-DC1036NS Intel Core i7-9750H/16GB/1TB SSD/GTX 1660Ti/15.6"
                       </p>

                   </div>

                   <div class="Columna">
                        <figure>
                            <img src="img/img-10.jpg" alt="Inauguración local">
                        </figure>
                        <p>
                            Samsung UE50NU7025 50" LED UltraHD 4K
                       </p>
                   </div>
                </div>  <!-- fin fila con columnas -->
            </section> <!-- fin seccion --> 
        </main>
    </body>
</html>