<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/normalize.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/styleIndex.css">

    <title>Awesome</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
            <!-- Lista izquierda -->
            <a class="nav-link dropdown-toggle equiv" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                &equiv;
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Componentes</a>
                <a class="dropdown-item" href="#">Ordenadores</a>
                <a class="dropdown-item" href="#">Smartphone/Telefonia</a>
                <a class="dropdown-item" href="#">Audio/Foto/video</a>
                <a class="dropdown-item" href="#">Periféricos</a>
                <a class="dropdown-item" href="#">Televisores</a>
                <a class="dropdown-item" href="#">Tablets/Ebooks</a>
                <a class="dropdown-item" href="#">Consolas/Gaming</a>
                <a class="dropdown-item" href="#">Componentes</a>
                <a class="dropdown-item" href="#">Ordenadores</a>
                <a class="dropdown-item" href="#">Smartphone/Telefonia</a>
                <a class="dropdown-item" href="#">Audio/Foto/video</a>
                <a class="dropdown-item" href="#">Periféricos</a>
                <a class="dropdown-item" href="#">Televisores</a>
                <a class="dropdown-item" href="#">Tablets/Ebooks</a>
                <a class="dropdown-item" href="#">Consolas/Gaming</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Ofertas</a>
            </div>
        
            <!-- Buscar -->
            <div class="ml-4">
                <form class="form-inline">
                  <button class="btn btn-busc my-2 my-sm-0" type="submit">Q</button>
                  <input class="form-control in-busc mr-sm-2" type="search" placeholder="Buscar en Awesome..." aria-label="Search">
                </form>
            </div>
        
            <!-- Logo Awesome-->
            <a class="navbar-brand ml-auto logo" href="pruebas.html">Awesome</a>
            
            <!-- Carrito-->
            <div class="d-flex-end ml-auto">
                <a class="btn carrito" href="carrito.html" role="button">Carrito</a>        
            </div>
        
            <!-- Boton mi cuenta-->
            <div>
                <a class="nav-link ndropdown-toggle cuenta" href="#" id="navbarCuenta" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mi cuenta
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarCuenta">
                    <button type="button" class="btn btn-outline-secondary btn-lg btn-block mx-auto mt-2 mb-1 py-1 px-3">Iniciar sesión</button>
                    <div class="d-flex">
                        <a class="dropdown-item item-reg" href="#">Para registrarse click aquí</a>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item item-reg" href="#">Contacto</a>
                    <a class="dropdown-item item-reg" href="#">Mi cuenta</a>
                    <a class="dropdown-item item-reg" href="#">Mis pedidos</a>
                    <a class="dropdown-item item-reg" href="#">Mis Devoluciones</a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section class="container">
            <div class="row ofertas">
                <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body a-back">  
                      <a href="#" class="a-cen">Ofertas</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body a-back">
                      <a href="#" class="a-cen">Outlet</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                      <div class="card-body a-back">
                        <a href="#" class="a-cen">San Valentín</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="card">
                      <div class="card-body a-back">
                        <a href="#" class="a-cen">Medios de pago</a>
                      </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container">
            <h3>Categorías <strong>Relevantes</strong></h3>
            <div class="card-deck">
                <div class="card">
                  <img src="img/img-01.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                  </div>
                </div>
                <div class="card">
                  <img src="img/img-02.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                  </div>
                </div>
                <div class="card">
                  <img src="img/img-03.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                  </div>
                </div>
                <div class="card">
                    <img src="img/img-01.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="img/img-02.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                  </div>
                  <div class="card">
                    <img src="img/img-03.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
        </section>

        <section class="container">
            <h3>Artículos <strong>Recomendados</strong></h3>
            <div class="card-group">
                <div class="card">
                  <img src="img/img-04.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">Logitech G332 Special Edition Auriculares Gaming</p>
                    <p class="card-text"><small class="text-muted">39,45€</small></p>
                  </div>
                </div>
                <div class="card">
                  <img src="img/img-07.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">Logitech G332 Special Edition Auriculares Gaming</p>
                    <p class="card-text"><small class="text-muted">39,45€</small></p>
                  </div>
                </div>
                <div class="card">
                  <img src="img/img-02.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">Logitech G332 Special Edition Auriculares Gaming</p>
                    <p class="card-text"><small class="text-muted">39,45€</small></p>
                  </div>
                </div>
                <div class="card">
                    <img src="img/img-10.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Logitech G332 Special Edition Auriculares Gaming</p>
                      <p class="card-text"><small class="text-muted">39,45€</small></p>
                    </div>
                  </div>
            </div>
        </section>


        <section class="container">
            <h3>Más vistos en <strong>Awesome</strong></h3>
            <div class="card-deck">
                <div class="card">
                  <img src="img/img-01.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">MSI GS63 Stealth 8RD-062XES Intel Core i7-8750H/16GB/512SSD/GTX1050Ti/15.6"</p>
                    <p class="card-text"><small class="text-muted">139€</small></p>
                  </div>
                </div>
                <div class="card">
                  <img src="img/img-02.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">MSI GS63 Stealth 8RD-062XES Intel Core i7-8750H/16GB/512SSD/GTX1050Ti/15.6"</p>
                    <p class="card-text"><small class="text-muted">139€</small></p>
                  </div>
                </div>
                <div class="card">
                  <img src="img/img-03.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">MSI GS63 Stealth 8RD-062XES Intel Core i7-8750H/16GB/512SSD/GTX1050Ti/15.6"</p>
                    <p class="card-text"><small class="text-muted">139€</small></p>
                  </div>
                </div>
                <div class="card">
                    <img src="img/img-04.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">MSI GS63 Stealth 8RD-062XES Intel Core i7-8750H/16GB/512SSD/GTX1050Ti/15.6"</p>
                      <p class="card-text"><small class="text-muted">139€</small></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="card-deck">
                <div class="card">
                  <img src="img/img-05.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">MSI GS63 Stealth 8RD-062XES Intel Core i7-8750H/16GB/512SSD/GTX1050Ti/15.6"</p>
                    <p class="card-text"><small class="text-muted">139€</small></p>
                  </div>
                </div>
                <div class="card">
                  <img src="img/img-06.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">139€</small></p>
                  </div>
                </div>
                <div class="card">
                  <img src="img/img-07.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">MSI GS63 Stealth 8RD-062XES Intel Core i7-8750H/16GB/512SSD/GTX1050Ti/15.6"</p>
                    <p class="card-text"><small class="text-muted">139€</small></p>
                  </div>
                </div>
                <div class="card">
                    <img src="img/img-08.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">MSI GS63 Stealth 8RD-062XES Intel Core i7-8750H/16GB/512SSD/GTX1050Ti/15.6"</p>
                      <p class="card-text"><small class="text-muted">139€</small></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="card-deck">
                <div class="card">
                  <img src="img/img-01.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">MSI GS63 Stealth 8RD-062XES Intel Core i7-8750H/16GB/512SSD/GTX1050Ti/15.6"</p>
                    <p class="card-text"><small class="text-muted">139€</small></p>
                  </div>
                </div>
                <div class="card">
                  <img src="img/img-02.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">MSI GS63 Stealth 8RD-062XES Intel Core i7-8750H/16GB/512SSD/GTX1050Ti/15.6"</p>
                    <p class="card-text"><small class="text-muted">139€</small></p>
                  </div>
                </div>
                <div class="card">
                  <img src="img/img-03.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">MSI GS63 Stealth 8RD-062XES Intel Core i7-8750H/16GB/512SSD/GTX1050Ti/15.6"</p>
                    <p class="card-text"><small class="text-muted">139€</small></p>
                  </div>
                </div>
                <div class="card">
                    <img src="img/img-04.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">MSI GS63 Stealth 8RD-062XES Intel Core i7-8750H/16GB/512SSD/GTX1050Ti/15.6"</p>
                      <p class="card-text"><small class="text-muted">139€</small></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="card-deck">
                <div class="card">
                  <img src="img/img-05.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">MSI GS63 Stealth 8RD-062XES Intel Core i7-8750H/16GB/512SSD/GTX1050Ti/15.6"</p>
                    <p class="card-text"><small class="text-muted">139€</small></p>
                  </div>
                </div>
                <div class="card">
                  <img src="img/img-06.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">139€</small></p>
                  </div>
                </div>
                <div class="card">
                  <img src="img/img-07.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">MSI GS63 Stealth 8RD-062XES Intel Core i7-8750H/16GB/512SSD/GTX1050Ti/15.6"</p>
                    <p class="card-text"><small class="text-muted">139€</small></p>
                  </div>
                </div>
                <div class="card">
                    <img src="img/img-08.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">MSI GS63 Stealth 8RD-062XES Intel Core i7-8750H/16GB/512SSD/GTX1050Ti/15.6"</p>
                      <p class="card-text"><small class="text-muted">139€</small></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="card-deck">
                <div class="card">
                  <img src="img/img-01.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">MSI GS63 Stealth 8RD-062XES Intel Core i7-8750H/16GB/512SSD/GTX1050Ti/15.6"</p>
                    <p class="card-text"><small class="text-muted">139€</small></p>
                  </div>
                </div>
                <div class="card">
                  <img src="img/img-02.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">MSI GS63 Stealth 8RD-062XES Intel Core i7-8750H/16GB/512SSD/GTX1050Ti/15.6"</p>
                    <p class="card-text"><small class="text-muted">139€</small></p>
                  </div>
                </div>
                <div class="card">
                  <img src="img/img-03.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">MSI GS63 Stealth 8RD-062XES Intel Core i7-8750H/16GB/512SSD/GTX1050Ti/15.6"</p>
                    <p class="card-text"><small class="text-muted">139€</small></p>
                  </div>
                </div>
                <div class="card">
                    <img src="img/img-04.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">MSI GS63 Stealth 8RD-062XES Intel Core i7-8750H/16GB/512SSD/GTX1050Ti/15.6"</p>
                      <p class="card-text"><small class="text-muted">139€</small></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="card-deck">
                <div class="card">
                  <img src="img/img-05.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">MSI GS63 Stealth 8RD-062XES Intel Core i7-8750H/16GB/512SSD/GTX1050Ti/15.6"</p>
                    <p class="card-text"><small class="text-muted">139€</small></p>
                  </div>
                </div>
                <div class="card">
                  <img src="img/img-06.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">139€</small></p>
                  </div>
                </div>
                <div class="card">
                  <img src="img/img-07.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">MSI GS63 Stealth 8RD-062XES Intel Core i7-8750H/16GB/512SSD/GTX1050Ti/15.6"</p>
                    <p class="card-text"><small class="text-muted">139€</small></p>
                  </div>
                </div>
                <div class="card">
                    <img src="img/img-08.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">MSI GS63 Stealth 8RD-062XES Intel Core i7-8750H/16GB/512SSD/GTX1050Ti/15.6"</p>
                      <p class="card-text"><small class="text-muted">139€</small></p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            
        </section>
    </main>
</body>

</html>